h1, h2, h3 {
    text-align: center;
    font-family: Arial;
    padding: 5;
    margin:2%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3{
    padding: 15px;
}

p{
    text-align: justify;
    font-family: Arial;
}
    
    
/*-------------------------------------------------NAVBAR---*/

nav{
    height: 70px;
    font-size: 20px;
    color: #fff;
}

.fa-headphones{
    padding-left: 15px;
    padding-right:15px;
    margin-right: 15px;
    font-size: 50px;
}

nav ul li {
    padding:15px;
    font-family: Arial;
    letter-spacing: 5px;}
    
/*-------------------------------------------------COMMON IMG---*/
.common-img {
    height: 400px;
    width: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   width: 100%;
   }
   
   
/*-------------------------------------------------MAIN---*/
h1, h2, h3 {
    text-align: center;
}

body{
    background-color: #d3d3d3;
}

.pro-tools, .ableton, .audacity, .audition {
    display: inline-block;
    padding: 2%;
}

.icons {
    text-align: center;}

    
/*-------------------------------------------------Requirements--*/
.comp h3{
    margin-bottom:35px;
    margin-top:0;
}

.comp ul {
    text-align:center;
    padding:15px;
}



.comp .fa-apple-alt{
    padding:10px;
}

.computer {
    width: 356px;
    height: 300px;
    background-image: url("../images/computer.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    }




.interface{
    background-image: url("../images/interface.jpg");
     height: 300px;
     width:100%;
    background-size: contain;
    background-repeat: no-repeat;}
    
.microphone{
    background-image: url("../images/microphones.png");
     height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
   
}

.comp, .mic, .int{
    margin-bottom:15px;
   }

ul{
    list-style: none;
    letter-spacing: 2px;
}

   
/*-------------------------------------------------FOOTER---*/


footer {
    background-color: #000;
    margin-top:5%;
    
   
}
    
h5 {
    font-family: Arial;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 300;
    padding: 15px;
    margin: 5;
}

h6 {
    font-family: Arial;
    letter-spacing: 2px;
    color: white;
    font-size: 15px;
}
    
.links a, .links, h6 {
    display: inline-block;
    padding: 10px;}
    
footer i {
    height: 30px;
    width: 15px;
    color: #fff;
    padding: 8px;
    margin: 5px;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}

.copy{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
  
footer i:hover {
  color: red;
}
 
 /*-------------------------------------------------EQ---*/
 .eq{
     background-image: url("../images/EQ.png");
     background-size: cover;
     background-repeat: no-repeat;
     height: 300px;
     width:100%;}
 
 .oneband {
     height: 350px;
     width: 100%;
     background-image: url("../images/1band.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     }
 
 .sevenband{
     height: 350px;
     width: 100%;
     background-image: url("../images/7band.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
    
 }
     
 /*-------------------------------------------------Compress/Limit---*/
 
 .compress{
     background-image: url("../images/spring.jpg");
     background-size: cover;
     height: 350px;
     width: 750px;
     background-repeat: no-repeat;
     background-position: center;}
    
.compresspic{
     background-image: url("../images/compressor.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     width:100%;
}

.limiter{
     background-image: url("../images/Limiter.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     width:100%;
    
}
    

   